.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(88,188,130);
  margin: auto;
  padding: 20px;
}
h1{
  text-align: center;
  text-transform: capitalize;
  color: #58bc82;
}
.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form input[type="text"],
.form textarea,
.form select {
  border-radius: 0.5rem;
  padding: 10px;
  border: none;
  display: flex;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="text"]:focus,
.form textarea:focus,
.form select:focus {
  outline: 2px solid var(--clr);
  background-color: var(--bg-light);
}

.label {
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 12px;
  width: 100%;
  text-transform: capitalize;
  border-radius: 50px;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  margin-top: 5px;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color:var(--bg-light);
}

.task-container {
  background-color:white;
  border-radius: 7px;
  margin: 16px;
  padding: 5px;
  color:#efefef;
}

.todo .task-container{
  background-color: #ff3533;

}

.todo .task-container button{
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  color: #ff3533;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  width: 100%;

}

.progressing .task-container{
  background-color: #FFC300;
}

.progressing .task-container button{
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  color: #FFC300;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  width: 100%;

}

.done .task-container{
  background-color: #28A745;
}
